<% provide(:title, 'My Card') %>
<canvas id='canvaSquare' data-shape="circle">
	Canvas not supported in your browser.
</canvas>

<div class='flip'>
	<div class='card'>
		<div class='face front'>
			<div id='mylogo'>
				<%= gravatar_pro() %>
			</div>
			<div id='info'>
					<%=  gravatar_info()
					getName().html_safe %>
					<b>About: </b><%= getAboutMe().html_safe %>
					<b>Location: </b><%= getLocation().html_safe %>
			</div>
			<small>
				!
			</small>
			<div id="backInfo">
				<%= getAboutMe().html_safe %>
			</div>
		</div>
		<div class='face back'>
			<div id='reachMetext'>
				Follow me in these awesome websites!
			</div>
			<ul>
				<li><%= link_to image_tag("contact_logos/fbook.png", size:"85x105", alt:"Facebook", id:"fbook"), 
					"http://www.facebook.com"%></li>
				<li><%= link_to image_tag("contact_logos/twitter.png", size:"115x105", alt:"Twitter", id:"twitter"), 
					"http://www.twitter.com"%></li>
				<li><%= link_to image_tag("contact_logos/dbart.png", size:"115x105", alt:"DeviantArt", id:"dbart"), 
					"http://www.devianart.com"%></li>
				<li><%= link_to image_tag("contact_logos/gplus.png", size:"115x105", alt:"Google+", id:"gplus"), 
					"http://plus.google.com"%></li>
				<li><%= link_to image_tag("contact_logos/github.png", size:"115x105", alt:"Github", id:"github"), 
					"http://www.github.com"%></li>
			</ul>
			<small>
				Flip me again!
			</small>
		</div>
	</div>
</div>
