<canvas id='canvaSquare' data-shape='square'>
	Canvas not supported in your browser.
</canvas>

<div id="slides">
	<%= link_to "<", "#", class: "prev", alt: "Arrow Prev" %>
	<%= link_to ">", "#", class: "next", alt: "Arrow Next" %>
	<div class="slides_container">
		<%= link_to image_tag("img/slide-1.jpg", size: "900x420", alt: "Slide 1"), "/assets/img/slide-1.jpg", class: "fancy", rel: "homegallery", target: "_blank", title: "Jose Padilla | The Rock @ Alcatraz" %>

		<%= link_to image_tag("img/slide-2.jpg", size: "900x420", alt: "Slide 2"), "/assets/img/slide-2.jpg", class: "fancy", rel: "homegallery", target: "_blank", title: "Jose Padilla | The Tower @ Alcatraz" %>

		<%= link_to image_tag("img/slide-3.jpg", size: "900x420", alt: "Slide 3"), "/assets/img/slide-3.jpg",  class: "fancy", rel: "homegallery", target: "_blank", title: "Jose Padilla | Bye @ Alcatraz" %>

		<%= link_to image_tag("img/slide-4.jpg", size: "900x420", alt: "Slide 4"), "/assets/img/slide-4.jpg",  class: "fancy", rel: "homegallery", target: "_blank", title: "Jose Padilla | SF Giants Practice" %>

		<%= link_to image_tag("img/slide-5.jpg", size: "900x420", alt: "Slide 5"), "/assets/img/slide-5.jpg", class: "fancy", rel: "homegallery", target: "_blank", title: "Jose Padilla | The Dr. Marthin Lurther King Library @ San Jose" %>

		<%= link_to image_tag("img/slide-6.jpg", size: "900x420", alt: "Slide 6"), "/assets/img/slide-6.jpg", class: "fancy", rel: "homegallery", targe: "_blank", title: "Jose Padill | Your wishing is my COMMAND" %>

		<%= link_to image_tag("img/slide-7.jpg", size: "900x420", alt: "Slide 7"), "/assets/img/slide-7.jpg", class: "fancy", rel: "homegallery", target: "_blank", title: "Jose Padilla | Strawberry Plant" %>
	</div>
</div>
