<header class="nav-bar">	
	<div class="nav-inner">
		<%= link_to "Obscura", root_path, id: "logo"%>
		<div class="nav-container">
			<ul>
				<li><%= link_to "Home", root_path, class: "nav-btn", id: "nav-hom" %></li>
				<li><%= link_to "Tutorials", tutorials_path, class: "nav-btn", id: "nav-tut"%></li>
				<li><%= link_to "About", about_path, class: "nav-btn", id: "nav-abt" %></li>
				<li><%= link_to "Contact", contact_path, class: "nav-btn"%></li>
			</ul>
		</div>
	</div>
</header>